<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PUBG Admin</title>
  </head>
  <body>
    <h1>Admin</h1>
    <table border = "2px">
      <thead>
        <th>Tên Tài khoản</th>
        <th>Thời gian đăng kí thuê</th>
        <th>Tình trạng</th>
        <th>Thuê</th>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{{ item.name}}</td>
          <td>{{ item.duration }}</td>
          <td>
          {% if item.rented %}
            Đã thuê
          {% else %}
            Còn trống
          {% endif %}
          </td>
          <td>
            <a href="{{ url_for('edit', item_id = item.id)}}">Thuê</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
